<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<!--css를 링크할 때도 th로 작성해서 템플릿에 연결한다는 걸 알려줘야한다.-->
<!--/static/style.css 로 작성하는게 아니다. /static 디렉터리가 스태틱 파일들의 루트 디렉터리이기 때문이다.-->

<html layout:decorate="~{layout}">
<!--decorate는 상속을 해줄 템플릿(부모 템플릿, 여기서는 layout.html)을 설정한다.-->
<div layout:fragment="content" class="container my-3">
	<!--부모 템플릿(layout.html)에 작성한 layout:fragment="content" 을 동일하게 작성해준다.-->
	<!-- 질문 -->
	<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
	<div class="card my-3">
		<div class="card-body">
			<!-- 마크다운 사용을 위해 대체 -->
<!--			<div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>-->
			<div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
			
			<div class="d-flex justify-content-end">
				
				<!-- 질문 수정일시 START -->
				<div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-strat mx-3">
					<div class="mb-2">수정일시</div>
					<div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
				
				<!-- 질문 작성일시 START -->
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${question.author != null}" th:text="${question.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			<div class="my-3">
				
				<!-- 질문 추천 버튼 START -->
				<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
					th:data-uri="@{|/question/vote/${question.id}|}">추천
					<span class="badge rounded-pill bg-success"
					th:text="${#lists.size(question.voter)}"></span>
				</a>
<!--				javascript:void(0)으로 되어 있어서 아무런 동작도 하지 않는다.-->
<!--				하지만 class 속성에 recommend를 작성했기에 js로 data-uri에 정의된 URL이 호출되도록 한다.-->
				
				<!-- 질문 수정 버튼 START -->
				<a th:href="@{|/question/modify/${question.id}|}"
					class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${question.author != null and #authentication.
						getPrincipal().getUsername() == question.author.username}"
					th:text="수정">
				</a>
<!--				#authentication.~~~ 부분은 로그인한 사용자와 글쓴이가 동일할 경우에만 노출되도록 한다.-->

				<!-- 질문 삭제 버튼 START -->
				<a href="javascript:void(0);"
					th:data-uri="@{|/question/delete/${question.id}|}"
					class="delete btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${question.author != null and #authentication.
						getPrincipal().getUsername() == question.author.username}"
					th:text="삭제">
				</a>
<!--				삭제 버튼을 클릭하면 js 가 실행된다. ( javascript:void(0) )-->
<!--				삭제를 실행할 URL을 얻기 위해 th:data-uri속성을 추가한 뒤, 삭제버튼 클릭 이벤트를 확인하기 위해-->
<!--				class 속성에 delete 항목(정말로 삭제하시겠습니까?를 추가하기 위해)을 추가했다.-->
			</div>
		</div>
	</div>
	<!-- 답변 개수 표시 -->
	<h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
	<!-- 답변 반복 시작 -->
	<div class="card my-3" th:each="answer : ${question.answerList}">
		<!-- 클릭 후 다시 해당 위치로 돌아오기 위한 앵커 기능 추가하기 -->
		<!-- 앵커 태그의 id 속성은 유일한 값이어야 하므로 답변의 id 값을 사용한다. -->
		<a th:id="|answer_${answer.id}|"></a>
		
		<div class="card-body">
			<!-- 마크다운 사용을 위해 대체 -->
<!--			<div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>-->
			<div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
			
			<div class="d-flex justify-content-end">
				
				<!-- 답변 수정일시 START -->
				<div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">수정일시</div>
					<div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
				
				<!-- 답변 작성일시 START -->
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			<div class="my-3">
				
				<!-- 답변 추천 버튼 START -->
				<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
				th:data-uri="@{|/answer/vote/${answer.id}|}">추천
					<span class="badge rounded-pill bg-success"
					th:text="${#lists.size(answer.voter)}"></span>
				</a>
				
				<!-- 답변 수정 버튼 START -->
				<a th:href="@{|/answer/modify/${answer.id}|}"
					class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${answer.author != null and #authentication.
						getPrincipal().getUsername() == answer.author.username}"
					th:text="수정">
				</a>
				
				<!-- 답변 삭제 버튼 START -->
				<a href="javascript:void(0);"
					th:data-uri="@{|/answer/delete/${answer.id}|}"
					class="delete btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${answer.author != null and #authentication.
						getPrincipal().getUsername() == answer.author.username}"
					th:text="삭제">
				</a>
<!--				답변의 삭제 기능을 구현해준 js를 답변 삭제에서도 그대로 사용한다. (구조가 동일하다.)-->
			</div>
		</div>
	</div>
	<!-- 답변 반복 끝 -->

	<!-- 답변 작성 -->
	<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" | method="post" class="my-3">
		<!-- 	$는 변수를 표현할 때, @는 url을 표현할 때 사용한다. -->
		<!--	답변 등록 form의 입력 값과 AnswerForm을 타임리프에 연결하기 위해 th:object를 작성-->

		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<!--		replace 속성 = div의 내용물을 대체해준다.-->

		<!--		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">-->
		<!--			<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
		<!--			hasAnyErrors()와 allErrors() 를 사용하여 오류 메시지 표시-->
		<!--		</div>-->

		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
			rows="10"></textarea>
		<!--		로그인 상태가 아니라면(disabled) 사용자가 화면에 입력을 못 하게 한다.(비로그인 답변 작성 금지)-->
		<textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
		<!--		로그인 상태-->
		<!--	<textarea name="content" id="content" rows="10" class="form-control"></textarea>-->
		<!--	<textarea th:field="*{content}" rows="10" class="form-control"></textarea>-->
		<!--	name, id 속성 대신에 th:field 속성을 작성했다. 이렇게 하면 해당 태그(여기서는 textarea)의 id name value 속성이 자동으로 생성되고-->
		<!--	타임리프가 value 속성에 기존에 입력된 값을 채워 넣어 오류가 발생하더라도 기존에 입력한 값(제목,내용)은 유지된다.-->
		<!--	=> 제목만 혹은 내용만 입력하고 등록하기 누르면 내용이 날아가버리는데 그거 방지하기 위해-->

		<input type="submit" value="답변 등록" class="btn btn-primary my-2">
	</form>
</div>

<script layout:fragment="script" type='text/javascript'>
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function(element) {
		element.addEventListener('click', function() {
			if(confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
	
	const recommend_elements = document.getElementsByClassName("recommend");
	Array.from(recommend_elements).forEach(function(element) {
		element.addEventListener('click', function() {
			if(confirm("정말로 추천하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
</script>

</html>







<!--<link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->

<!--<h1 th:text="${question.subject}"></h1>-->
<!--<div th:text="${question.content}"></div>-->
<!--<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>-->
<!--답변 영역 추가. #lists.size(~~~~)는 ~~의 사이즈(개수)를 의미한다. 여기에서는 답변 개수를 의미한다.-->
<!--<div>-->
<!--	<ul>-->
<!--		<li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>-->
<!--	</ul>-->
<!--</div>-->

<!--<form th:action="@{|/answer/create/${question.id}|}" method="post">-->
<!--	<textarea name="content" id="content" rows="15"></textarea>-->
<!--	<input type="submit" value="답변 등록">-->
<!--</form>-->